@page "/how-to-use"
<div class="wrapper">
    <div class="h1">このアプリの使い方</div>
    <div class="h2">目次</div>
    <ul class="index">
        <li>
            <a href="how-to-use#about" target="_self">アプリについて</a>
        </li>
        <li>
            <a href="how-to-use#install">インストール</a>
        </li>
        <li>
            <a href="how-to-use#practice">練習</a>
        </li>
        <li>
            <a href="how-to-use#setting">設定</a>
        </li>
        <li>
            <a href="how-to-use#author" target="_self">作成者</a>
        </li>
    </ul>
    <div class="h2" id="about">アプリについて</div>
    <p>このアプリは9つのエリアにランダムにボールが表示されます。</p>
    <div class="h2" id="install">インストール方法</div>
    <p class="h3">iPhoneの場合</p>
    <ol>
        <li>Safariでこのアプリを開きます。</li>
        <li>Safari下部にある共有ボタンをタップします。</li>
        <li>ホーム画面へ追加をタップします。</li>
        <li>完了！</li>
    </ol>
    <p class="h3">Androidの場合</p>
    <ol>
        <li>Chromeで開きます。</li>
        <li>「インストールしますか？」とダイアログが出た場合はそのままインストールします。</li>
        <li>完了！</li>
    </ol>
    <div class="h2" id="practice">練習方法</div>
    <p>最初の画面の「練習開始」ボタンをタップすると、練習画面へ移動します。</p>
    <p>練習画面では、ランダムに５秒間隔でボールが表示されます。</p>
    <p>５秒の間隔は設定画面から変更することができます。(開発中)</p>
    <div class="h2" id="setting">設定方法</div>
    <p>この画面は現在開発中です。</p>
    <div class="h2" id="author">作成者</div>
    <p>Fuki Sato</p>
    <p>
        <span>Github:</span>
        <a href="https://github.com/fukicycle" target="_blank">fukicycle</a>
    </p>
</div>