@page "/practice"
@implements IDisposable
@inject SettingService SettingService
<div class="display-area">
    @foreach (string panel in _panels)
    {
        <div class="panel @panel"></div>
    }
</div>
<div class="count-down h1">
    @if (_currentSetting.IsFixed)
    {
        @_displayCountDownValue
    }
</div>