@page "/practice"
@implements IDisposable
<div class="display-area">
    @foreach (string panel in _panels)
    {
        <div class="panel @panel"></div>
    }
</div>
<div class="count-down h1">
    @_displayCountDownValue
</div>